.container
  .row
    .col-xs-12
      %h1 Scan a part
  
  .row
    .col-xs-12
      %p Place the barcode in front of the camera so it's completely in view.
      #quagga
      #result_strip
        %ul.thumbnails

      